@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&display=swap');


.contact-section {
    padding: 2rem 1.5rem;
    color: #fff;
    font-family: "Exo 2", sans-serif;

}

.contact-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.contact-text {
    color: #aaa;
    font-size: 1rem;
    max-width: 600px;
    margin-bottom: 1rem;

}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-link {
    color: #00bcd4;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.contact-link:hover {
    color: #03e9f4;
}