@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background: #000000ec;
  color: whitesmoke;
  padding: 0 3rem;
}

.main {
  width: 65rem;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.contentCont {
  padding: 2rem;
  width: 80%;
  border-left: 2px solid rgba(255, 255, 255, 0.201);
  overflow: auto;
  scrollbar-width: none;
}

.contentCont::-webkit-scrollbar {
  display: none;
}
